/*==================================VARIABLES==========================================*/

// Colors
$black:                     #000 !default;
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #fff !default;

$brand-primary:             #2466A6 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #000;
$body-color: #3a3a3a !default;

// Typography
$font-family-sans-serif: "Ubuntu", Arial, sans-serif !default;
$headings-font-family-sans-serif: "Titillium Web", sans-serif;

$font-size-root:            14px !default;
$font-size-height:          150% !default;
$paragraph-margin:          $font-size-root;

$text-color:                $gray-dark;
$heading-text-color:        $brand-primary;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);
$light-hover-color:         lighten($brand-primary,5%);
$dark-hover-color:          darken($brand-primary,10%);

/* Margins & Paddings */
$outer-grid:                2 * $font-size-root;
$vertical-spacing:          2 * $font-size-root;
$card-padding:              1rem;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            $body-color;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

/*==================================MIXINS==========================================*/
@mixin truncate($width) {
    width: $width;
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
@mixin icon-style($col){
    color: $col;
    display: block;
    float: left;
    font-family: FontAwesome;
    margin-right: .5rem;
    text-align: left;
    border-radius: 0;
    background-color:transparent;
    margin-top:0;
}
@mixin flexbox{
    display:-ms-flexbox;
    display:flex;
}
@mixin flex($item){
    -webkit-box-flex: $item;   /* OLD - iOS 6-, Safari 3.1-6 */         /* For old syntax, otherwise collapses. */
    -webkit-flex: $item;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: $item;           /* IE 10 */
    flex: $item;
}
@mixin shadow($width, $col) {
    -webkit-box-shadow: $width $col;
    -moz-box-shadow: $width $col;
    box-shadow: $width $col;
}
/** Dashboard ***/
@mixin kacheln{
    display:flex;
    flex-grow:1;
    flex-wrap:wrap;
    justify-content:space-between;
    > .coursebox {
        flex-basis: calc(33% - 14px);
        display:flex;
        flex-direction:column;
        &.hasThumbnail{
            .content{order:1;}
            .info{order:2}
        }
        .content{
            display: flex;
            flex-direction: column;
            .courseimage{order:1;}
            .summary{
                float:none;
            }
            .teachers{
                width:auto;
            }
        }
        &:last-child{
            flex-grow:0;
            flex-shrink:0
        }
    }
    .paging{
        flex-basis:100%;
        &.paging-morelink{
            margin:2rem 0;
            a{
                background:$brand-primary;
                padding:.75rem 2rem;
                color:#fff;
                text-transform:uppercase;
                &:hover{
                    background:$light-hover-color;
                    text-decoration: none;
                }
            }
        }
    }
}


// Import everything.
@import "moodle";
/** SAK Typography ***/
html, body{
    text-rendering: optimizeLegibility;
}
body {   
    font-size:$font-size-root;
    font-weight:400;
    line-height: $font-size-height;
    background:$body-bg url(http://www.spraachen.org/wp-content/uploads/2013/12/weltkarte.png) center top no-repeat/ cover;
    background-attachment: scroll;
    color:$body-color;
}
/*** ToDo Typo ***/
h1, h2, h3, h4 {
    font-family: $headings-font-family-sans-serif;
    color:$heading-text-color;
    font-weight:500;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: $paragraph-margin;
    margin-bottom: $paragraph-margin * 2;
    > a{
        color:inherit !important;
        &:hover{text-decoration: none;}
    }
}
h3{
    font-size:1.5rem;
}
/*** Buttons ***/
.btn-secondary, .btn-default{
    background-color: $brand-primary;
    border-color:darken($brand-primary,25%);
    color:white;
    [data-region="drawer-toggle"] &{border:0;}
    &:hover, &:focus, &:active{
        background-color:$light-hover-color;
        border:0;
        color:white;
    }
}
.numberofcourse{
    background: $brand-primary;
    color: $white;
    display: inline-flex;
    padding: .25rem;
    height: 1.2rem;
    width: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 1rem;
}
/*** Icons ***/
/** reset first ***/
.coursebox > .info > .coursename a{
    background-image: none;
    padding: 0;
}
.list-group-item .media-left{display:none;}

#nav-drawer{
    [data-key]:before{
        @include icon-style(#fff);
        content: "\f114";
    }
    [data-key="home"]{
        &:before{
            content: "\f039";  
        }
        &:first-child:before{
            content: "\f015";
        }
    }
    [data-key="calendar"]:before{
        content: "\f133";
    }
    [data-key="privatefiles"]:before{
        content: "\f0c5";
    }
    [data-key="coursehome"]:before,
        [data-key="mycourses"]:before{
        content: "\f07c";
    }
    [data-key="sitesettings"]:before{
        content: "\f085";
    }
    [data-key="participants"]:before{
        content: "\f007";
    }
    [data-key="1"]:before{
        content: "\f0a3";
    }
    [data-key="grades"]:before{
        content: "\f005";
    }
    [data-key="addblock"]:before{
        content: "\f067";
    }
    .list-group-item-action.font-weight-bold[data-key]:first-child:before{
        @include icon-style(#fff);
        content: "\f07c";
    }
    .list-group-item-action.font-weight-bold[data-key]:before{
        @include icon-style(#fff);
        content: "\f07b";
    }
}
//icons in der Sidebar
.card-title{
    [data-block] &:before{
        @include icon-style(#000);
    }
    [data-block="calendar_month"] &:before{
        content: "\f073";
    }
    [data-block="admin_bookmarks"] &:before{
        content: "\f02e";
    }
    [data-block="blog_recent"] &:before{
        content: "\f1ea";
    }
    [data-block="calendar_upcoming"] &:before{
        content: "\f073";
    }
    [data-block="blog_menu"] &:before{
        content: "\f022";
    }
    [data-block="blog_tags"] &:before{
        content: "\f02c";
    }
    [data-block="community"] &:before{
        content: "\f0c0";
    }
    [data-block="settings"] &:before{
        content: "\f085";
    }
    [data-block="globalsearch"] &:before{
        content: "\f002";
    }
    [data-block="glossary_random"] &:before{
        content: "\f044";
    }
    [data-block="course_list"] &:before{
        content: "\f12e";
    }
    [data-block="comments"] &:before{
        content: "\f086";
    }
    [data-block="course_summary"] &:before{
        content: "\f15c";
    }
    [data-block="private_files"] &:before{
        content: "\f0c5";
    }
    [data-block="messages"] &:before{
        content: "\f0f3";
    }
    [data-block="navigation"] &:before{
        content: "\f14e";
    }
    [data-block="online_users"] &:before{
        content: "\f017";
    }
    [data-key="sitesettings"] &:before{
        content: "\f085";
    }
    [data-block="mentees"] &:before{
        content: "\f19d";
    }
    [data-block="participants"] &:before{
        content: "\f0c0";
    }
    [data-block="news_items"] &:before{
        content: "\f1ea";
    }
    [data-block="search_forums"] &:before{
        content: "\f0ea";
    }
    [data-block="lp"] &:before{
        content: "\f0ca";// = Lernpläne
    }

}

//Icons in den Überschriften
#page-header h1:before{
    @include icon-style(#fff);

    #page-course-view-topics &{
        content: "\f07c";  
    }
    [id*="page-admin"] &{
        content: "\f085";
    }
}
#site-news-forum h2:before{
    @include icon-style(#000);
    content: "\f075" !important;
}
#frontpage-course-list h2:before{
    @include icon-style(#000);
    content: "\f07c" !important;
}
[class*="frontpage-course-list"]{
    h3 {
        width:100%;
        /*        &:before{
                    @include icon-style(#000);
                    content: "\f114";
                }*/
    }
}

/*** Gen. Layout  - Colors ***/
header.navbar-static-top{
    background-color: $brand-primary;
    .navbar-nav .nav-link,
    .site-name,
    .usertext{
        color:white !important;
    }
}
.navbar-brand.has-logo{
    img{
        -webkit-filter: brightness(5); /* Safari 6.0 - 9.0 */
        filter: brightness(5);
    }
}
.card{
    background-color:transparent;
    border:0;
    section[data-region="blocks-column"]{
        background-color: #e5e5e4; 
    }
    #page-header &{
        background-color:transparent;
        &, & *{color:white;}

    }
}
#page-content{
    background-color: #F2F2F2;
}
.coursebox{
    background-color:rgba(255,255,255,.75) !important;
}

h1, h2, h3, h4{
    #page-header &{
        color:$white;
    }
    #page-content &{
        color:$heading-text-color;
    }
}
a{
    .coursename &.dimmed,
    .categoryname &{
        color: $gray-dark !important;
    }
}
[data-region="drawer"]{
    padding:0;
    background-color: rgba( $brand-primary, .7 );
    .list-group-item {
        background-color: inherit;
        border:{
            color:#eee;
            width:1px 0 0 0;
            style:solid;
        }
        &, &.list-group-item-action{color:white;}
    }
}
.list-group m-t-1{
    .list-group-item.list-group-item-action{
        border:0;
        background-color:darken($brand-primary, 30%);
    }
}
/*** Gen. Layout  - Widths, Margins, Paddings ***/
.row{
    &#page-content,
    &#page-header{
        max-width: 1170px;
        margin:0 auto;
    }
}
/*** Start Layout Thumbnails ***/
[class*="frontpage-course-list"]{
    display:block;

    #region-main.larger &{
        @include kacheln;
    }
}
#region-main{
    .summary{
        float: left !important;
        width:100%;
    }
    .larger{
    .summary, .teachers{display:none;}
    
    #frontpage-course-list .coursebox .content{
        height:0;
        width:100%;
        padding-bottom: 66%;
        position:relative;
        @include flexbox;
        flex-direction: column;
        overflow: hidden;
        .courseimage{
            position: absolute; 
            height: 100%; 
            width: 100%; 
            left: 0; 
            top: 0;
        }
        .courseimage{order:1;}
        .summary{order:2;}
        .teachers{order:3;}
    }
}
}

.coursebox{
    /*    @include shadow(0 0 0 1px, rgba(0,0,0,.2));*/
    margin-bottom: 14px;
    &.collapsed{margin-bottom:.5em;}
    #region-main.larger &{
        &.even,&.odd{
            &,&:hover{
                background-color:#e5e5e4;
                border:0;
            }
            &:hover{
                -webkit-box-shadow: 0;
                -moz-box-shadow:0;
                box-shadow: 0;
            }
        }
    }
    &.hasThumbnail{
        .courseimage{
            margin: 0 auto 1em auto;
            width: 100%;
            img{
                width: 100%;
                height:auto;
                max-height: none;
                max-width:none;
            }
        }
    }
}
/** Navigation **/
.tab-style{
    color: white !important;
    background-color: #000;
    border-color:transparent;
}
.nav-tabs{
    .nav-item{
        .open{
            @extend .tab-style;
        }
    }
    .nav-link{
        .nav-item.open &:hover{@extend .tab-style;}
        &:active,
            &:focus,
            &:hover{
            @extend .tab-style;
        }
        &.active{
            color:white;
        }
    }
}
.action-menu .dropdown-item  {
    &, & *{
        color:#000 !important;
    }
}
/**** Buttons ****/
.dropdown-toggle::after{border-top-color:white !important;}
.btn-secondary > *{color:white !important;}
.btn-secondary.checked > * {color:black !important;}
svg{fill:currentColor;}

.region_main_settings_menu_proxy{background-color:transparent;}
/***************************************************************************/
/*** Content - Listen ***/
.subcategories > *{
    padding:1rem .5rem;
    background:rgba( $white, .7 );
    margin:1rem 0;
}

/** Content Login **/
#page-login-index{
    #region-main .card-title > h2{
        background: url('http://logo.spraachen.work/logo-subline-front.svg') no-repeat center center / contain;/** Todo Pfad ändern **/
        > img {opacity: 0;}
    }
}