.course-content ul.topics li.section .summary, 
.course-content ul.weeks li.section .summary, 
.course-content ul.topics li.section .content>.availabilityinfo, 
.course-content ul.weeks li.section .content>.availabilityinfo
.section .activity .availabilityinfo{
    margin-left:0;
    border:1px dashed red;
}

.summary {
    
    .topics li:first-child &{
        margin: 0 0 2rem 0;
        > *{
            font-style:italic;
            padding: 1em;
            background:rgba(255,255,255,.75);
        }
    }
    #region-main & + ul.section {
    margin: 0;
}
}

.editing .section .activity:hover{
    background-color: transparent;
    cursor:pointer;
}

.mod-indent-outer{
margin-bottom:.25em;
}
.section li.activity{
    padding:.5em;
}
.section li.activity:nth-child(even){
    background:rgba(255,255,255,.5);
}
.section li.activity.label{
    background-color: transparent;
    font-weight:600;
}