.coursebox.collapsed {
    margin-bottom: .5em;
}
[class*="dimmed"], [class*="dimmed"]  *{
color:#7996ad !important;
}
h3.categoryname{
margin:1em 0 .5em 1em;
}
#page-footer {background-color:darken(#4385c8,10%);}
#page-footer *{color: white !important;}