/* Mediaqueries breakpoints */
/* Helper Classes */
/* =============================================================================
   Colors
   ========================================================================== */
/*** Info Graphic ***/
/* =============================================================================
   Typography
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu");
/* =============================================================================
   Height & Widths
   ========================================================================== */
/* =============================================================================
   Margins & Paddings
   ========================================================================== */
::-moz-selection {
  text-shadow: none;
  background: #2466a8;
  background-image: none !important;
  color: #fff; }

::selection {
  text-shadow: none;
  background: #2466a8;
  background-image: none !important;
  color: #fff; }

.essay div[title='Spell-check'] {
  display: none; }

/* =============================================================================
   Mixins
   ========================================================================== */
h3, .section .modtype_label.activity.label {
  font-size: 1.429em;
  /*    @media screen and (min-device-width:$screen-lg){
          font-size: 1.43vW;
      }*/
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em; }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    h3, .section .modtype_label.activity.label {
      font-size: 1.2em; } }

/* =============================================================================
   Basics
   ========================================================================== */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto; }

html, body, button, input, select, textarea {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #333; }

body {
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; }

a, a:link {
  text-decoration: none;
  cursor: pointer; }
a:visited {
  opacity: .5; }
a:hover, a:focus {
  outline: none; }

h1, h2, h3, .section .modtype_label.activity.label, h4, legend {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif !important;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.1;
  color: #2466a8; }
  h1 a, h2 a, h3 a, .section .modtype_label.activity.label a, h4 a, legend a {
    text-decoration: none;
    color: #2466a8; }

h1 a:hover, h2 a:hover, h3 a:hover, .section .modtype_label.activity.label a:hover {
  text-decoration: none;
  cursor: pointer; }

h1 {
  font-size: 21px;
  line-height: 1;
  color: #000; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 30.002px;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.5em; } }

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.2em; }

legend border {
  width: 1px 0 0 0;
  style: solid;
  color: #ccc;
  margin-top: 1em; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  text-transform: none; }
  p.lead {
    /*        font-size: 1rem * 1.125;*/
    font-size: 1em;
    line-height: 1.4; }

/** Main Logo ***/
body#page-site-index #page-header {
  position: relative;
  padding-top: 1em;
  margin-bottom: 1em;
  height: 0;
  width: 23%;
  overflow: hidden; }
  @media screen and (max-width: 425px) {
    body#page-site-index #page-header {
      width: 100%;
      padding-bottom: 55%;
      /* ratio width/height*/ } }
  @media screen and (min-width: 425px) {
    body#page-site-index #page-header {
      width: 23%;
      padding-bottom: 11.5%;
      /* ratio width/height*/ } }
  body#page-site-index #page-header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; }

/*** Topics ***/
.topics li {
  margin-bottom: 2em;
  padding-top: 20px; }

/*** Course Links/Headlines ***/
.section .modtype_label.activity.label {
  border-bottom: 1px solid #ccc;
  margin-bottom: .7em; }
  .section .modtype_label.activity.label p:last-child {
    margin-bottom: 0; }
  .section .modtype_label.activity.label b {
    font-weight: 600; }

.section .label .mod-indent-outer {
  padding-left: 0; }
  
  .modtype_label{
  	color: red !important;
  }


.text{
	background: rgba(36, 101, 168, 0.46);
}
/*.mod-indent-1,
.mod-indent-2 {
  width: 0; }*/

/*** Navigation ***/
.block_navigation .block_tree .tree_item {
  background-position: 0 0; }

/*# sourceMappingURL=theme-clean.css.map */
