/*==================================VARIABLES==========================================*/
/* Margins & Paddings */
/*==================================MIXINS==========================================*/
/** Dashboard ***/
#region-main .larger .summary, #region-main .larger .teachers { display: none; }

#region-main .larger #frontpage-course-list .coursebox .content { height: 0; width: 100%; padding-bottom: 66%; position: relative; display: -ms-flexbox; display: flex; flex-direction: column; overflow: hidden; }

#region-main .larger #frontpage-course-list .coursebox .content .courseimage { position: absolute; height: 100%; width: 100%; left: 0; top: 0; }

#region-main .larger #frontpage-course-list .coursebox .content .courseimage { order: 1; }

#region-main .larger #frontpage-course-list .coursebox .content .summary { order: 2; }

#region-main .larger #frontpage-course-list .coursebox .content .teachers { order: 3; }

.coursebox { /*@include shadow(0 0 0 1px, rgba(0,0,0,.2));*/ margin-bottom: .875rem; }

.coursebox.collapsed { margin-bottom: 0.5em; }

#region-main.larger .coursebox.even, #region-main.larger .coursebox.even:hover, #region-main.larger .coursebox.odd, #region-main.larger .coursebox.odd:hover { background-color: #e5e5e4; border: 0; }

#region-main.larger .coursebox.even:hover, #region-main.larger .coursebox.odd:hover { -webkit-box-shadow: 0; -moz-box-shadow: 0; box-shadow: 0; }

.coursebox.hasThumbnail .courseimage { margin: 0 auto 1em; width: 100%; }

.coursebox.hasThumbnail .courseimage img { width: 100%; height: auto; max-height: none; max-width: none; }
