// An example preset file.

/*************************** Variables section. *****************************/
// Create variables to override the default value for variables used in the Moodle and Bootstrap SCSS files.

$brand-primary:				#2466a8;
$brand-secondary: 			#4385c8;
$text-color:				red;

// BACKGROUNDS
$mainBg:					#F2F2F2;
$bg-panel:					#e5e5e4;
$bd-panel: 					#D9D9D9;

$base-font-size:            100% !default;
$base-line-height:          150% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1rem;

$headings-font-family:    'Titillium Web', Arial,Helvetica, sans-serif !important;
$body-font-family:        'Ubuntu', Arial,Helvetica, sans-serif; 

$heading-text-color:        $brand-primary;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);


/*************************** Import section  *****************************/
// Always the same.
@import "moodle";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu');


/*************************** Rules section ****************************/
html { font-size: 62.5%; -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}

html, body, button, input, select, textarea { 
    font-family:$body-font-family;
    color: $text-color; }
body {
    background-color: green;
}
h1, h2, h3, h4{
	font-family:$headings-font-family;
}