/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #2466a8 !default;
$brand-secondary:           #4385c8 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;

$text-color:#333;
$light-text-color:#999;
$light-gray:$gray-light;
$dark-gray:$gray-dark;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

$link-color:$brand-primary;
$border-color:$light-gray;
$mainBg:#F2F2F2;

$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

/*************************** Typo  *****************************/
$base-font-size:            100% !default;
$base-line-height:          150% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1rem;

// Typography
$body-font-family: "Ubuntu", sans-serif;
$headings-font-family: "Titilium Web", sans-serif;
$font-size-root: 14px !default; 

$heading-text-color:        $brand-primary;
$text-color:                #333;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);


/* Margins & Paddings */
$outer-grid:2 * $rem-base;
$vertical-spacing:2*$rem-base;
$card-padding:1rem;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       5px !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 #fff !default;
$breadcrumb-padding:          0px 10px 0px 10px !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

//Mixins
@mixin icon-style{
    color: #000;
    display: block;
    float: left;
    font-family: FontAwesome;
    margin-right: .5rem;
    text-align: left;
    border-radius: 0;
    background-color:transparent;
    margin-top:0;
}
@mixin flexbox{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}
@mixin flex($item){
    -webkit-box-flex: $item;   /* OLD - iOS 6-, Safari 3.1-6 */         /* For old syntax, otherwise collapses. */
    -webkit-flex: $item;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: $item;           /* IE 10 */
    flex: $item;
}
@mixin shadow {
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
}
/*************************Global extends ****************/
@mixin truncate($width) {
    width: $width;
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}