/* ===================VARIABLES=====================*/
// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #2466a8 !default;
$brand-secondary:           #4385c8 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;

$text-color:#333;
$light-text-color:#999;
$light-gray:$gray-light;
$dark-gray:$gray-dark;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

$link-color:$brand-primary;
$border-color:$light-gray;
$mainBg:#F2F2F2;

/* ===================SCSS=====================*/
// Always the same.
@import "moodle";
html { -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}
html, body, button, input, select, textarea { 
    /*    font-family:$body-font-family;*/
    color: $text-color; }
body, h1, h2, h3, h4{
    text-rendering: optimizeLegibility;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight:400;
    /*        font-size:$rem-base;
        line-height: $base-line-height;*/
    background: $mainBg;
}
h1, h2, h3, h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight:500;
    text-transform:uppercase;
    color:$brand-primary;
}