/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #2466a8 !default;
$brand-secondary:           #4385c8 !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;

$text-color:#333;
$light-text-color:#999;
$light-gray:$gray-light;
$dark-gray:$gray-dark;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

$link-color:$brand-primary;
$border-color:$light-gray;
$mainBg:#F2F2F2;

$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

/*************************** Typo  *****************************/
$base-font-size:            100% !default;
$base-line-height:          150% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1rem;

// Typography
$body-font-family: "Ubuntu", sans-serif;
$headings-font-family: "Titilium Web", sans-serif;
$font-size-root: 14px !default; 

$heading-text-color:        $brand-primary;
$text-color:                #333;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);


/* Margins & Paddings */
$outer-grid:2 * $rem-base;
$vertical-spacing:2*$rem-base;
$card-padding:1rem;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       5px !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 #fff !default;
$breadcrumb-padding:          0px 10px 0px 10px !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

//Mixins
@mixin icon-style{
    color: #000;
    display: block;
    float: left;
    font-family: FontAwesome;
    margin-right: .5rem;
    text-align: left;
    border-radius: 0;
    background-color:transparent;
    margin-top:0;
}
@mixin flexbox{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}
@mixin flex($item){
    -webkit-box-flex: $item;   /* OLD - iOS 6-, Safari 3.1-6 */         /* For old syntax, otherwise collapses. */
    -webkit-flex: $item;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: $item;           /* IE 10 */
    flex: $item;
}
@mixin shadow {
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 1px 2px rgba(0,0,0,.2);
}
/*************************Global extends ****************/
@mixin truncate($width) {
    width: $width;
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

// Import everything.
@import "moodle";
/*************************** Globals ****************************/
/**{
    color:red !important;
}*/
html { -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}

html, body, button, input, select, textarea { 
    font-family:$body-font-family;
    color: $text-color; }
// body typography
body {
    text-rendering: optimizeLegibility;
    font-size:$rem-base;
    font-weight:400;
    line-height: $base-line-height;
    background: $mainBg;
}

/*** Buttons ***/
button.btn, .btn{
    background: $brand-primary;
    #page-content .col-md-4 &, #page-content .col-md-4 & > div {@include truncate(100%);}
    &.btn-secondary{
        background: $brand-secondary; 
    }
    &, &.btn-default.active{
        color:white;
    }
}
/*** Headlines ***/
h1, h2, h3, h4 {
    font-family:"Titilium Web", sans-serif !important;
    color: $heading-text-color;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin-bottom: $vertical-spacing;

    .bg-inverse &{
        color: lighten($heading-text-color,100%); 
    }
}
h1 {

    &, #page-header &{
        font-weight:400;
    }
    .page-header-headings &:before{
        @include icon-style;
        content: "\f07c";
    }
}
a {
    color: $brand-primary;
    .navbar-light &,
    & > span{
        color: $brand-primary !important;  
    }
    .bg-inverse &{
        color: lighten($brand-primary,100%) !important; 
    }
    &,&:link { 
        text-decoration: none;
        cursor:pointer;
    }
    &:hover{
        color: $brand-secondary; 
        text-decoration: underline;
    }
    &:visited{
        opacity:.5;
    }
    &:visited{ 
        text-decoration: none !important;
    }
    &:hover,&:focus {outline:none;}

    /*    &.external:after{
            @include icon-style ("\f08e", 0, 1, .5em, .8em);
        }*/
}

/*** Content ***/
.card{
    border:0;
}
.course-content {
    .current::before{
    border-left-width:3px;
    }
    .single-section {
        .section-navigation {
            .mdl-right, .mdl-left{
                max-width:40%;
                a{
                    @include truncate(100%);
                    .rarrow, .larrow{display:none;}
                }
            }
            .mdl-left:before{
                @include icon-style;
                content: "\f0d9";
            }
            .mdl-right:after{
                @include icon-style;
                content: "\f0da";
            }
            
        }
    }
}
/**
 * page header.
 */
#page-header .card {
    height: 225px;
    background-image: url("http://stock.clients.overflow-hillen.de/wp-content/uploads/sites/15/2017/08/gaelle-marcel-8992.jpg");
    background-size: cover;
    background-position: 50% 100%;
}
    #page-login-index .card {
    background-color:rgba(255,255,255,0.85);
}

.pagelayout-incourse #page-header .card {
    height: 150px;
}

div#page-navbar {
    position:relative;
    width: 100%;
}
#page-header .card-block {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#page-header h1 {text-align: center; color:#fff;}
#page-header .logo {
    margin: 0;
}
body#page-login-index {
    background-image: url("http://stock.clients.overflow-hillen.de/wp-content/uploads/sites/15/2017/08/gaelle-marcel-8992.jpg");
  background-size: cover;
background-position: 50% 15%;
background-repeat: no-repeat;
}
.page-context-header {
    text-align: center;
}

.page-context-header .page-header-headings{
    position: relative;
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
    background-color: $brand-primary;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom:5px;
}

.card-block .action-menu {
    white-space: nowrap;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/*** customize section navigation ***/
 

.single-section h3.sectionname{
        text-align: left;
        border-top: 1px solid #ccc;
        padding-top: 1em;
    }
    .section-navigation{
        .mdl-left, .mdl-right{
                   margin-bottom: 2em; 
        }
    }