@import "_vars-mixins";
#region-main {
  .larger {
    .summary,
    .teachers {
      display: none;
    }

    #frontpage-course-list .coursebox .content {
      height: 0;
      width: 100%;
      padding-bottom: 66%;
      position: relative;
      @include flexbox;
      flex-direction: column;
      overflow: hidden;

      .courseimage {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }

      .courseimage {
        order: 1;
      }

      .summary {
        order: 2;
      }

      .teachers {
        order: 3;
      }
    }
  }
}

.coursebox {
  /*@include shadow(0 0 0 1px, rgba(0,0,0,.2));*/
  margin-bottom: .875rem;

  &.collapsed {
    margin-bottom: 0.5em;
  }

  #region-main.larger & {
    &.even,
    &.odd {
      &,
      &:hover {
        background-color: #e5e5e4;
        border: 0;
      }

      &:hover {
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
      }
    }
  }

  &.hasThumbnail {
    .courseimage {
      margin: 0 auto 1em;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        max-height: none;
        max-width: none;
      }
    }
  }
}
