/**** Globals***/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  vertical-align: middle;

  li,
  ul {
    list-style: disc;
  }

  & {
    padding: 0.5rem 1rem;
    border-left: 1px solid $page-content;
  }

  tr:nth-child(even) & {
    background-color: darken($page-content,5%);
  }

  tr:nth-child(odd) & {
    background-color: lighten($page-content,1%);
  }
  /*tr &:first-child {
    font-weight: 700;
  }*/
}
/*** Gen. Layout  - Widths, Margins, Paddings ***/
.row {
  &#page-content,
  &#page-header {
    max-width: 1170px;
    margin: 0 auto;
  }
}
#page-header .logo img {
  max-height: 100px;
}
#page-content {
  background-color: $page-content;
}
/*** Gen. Layout  - Colors, Logo etc ***/
.card {
  background-color: transparent;
  border: 0;

  section[data-region="blocks-column"] {
    background-color: #e5e5e4;
  }

  #page-header & {
    background-color: transparent;

    &,
    & * {
      color: white;
    }
  }
}

.coursebox {
  background-color: $trans-white !important;
  padding: 0.5rem;
}
/**** CONTENT ***/
/*** Content - Listen ***/
.subcategories > * {
  padding: 1rem 0.5rem;
  background: rgba($white, .7);
  margin: 1rem 0;
}

ol,
ul {
  #region-main & {}
}
/*** StartSeite Layout Thumbnails ***/
#frontpage-course-list {
  .frontpage-course-list-enrolled {
    display: block;
    @media screen and (min-width:992px) and (max-width:1365px) {
      body.pagelayout-frontpage & {
        @include kacheln;
      }

      body.pagelayout-frontpage.drawer-open-left & {
        @include list;
      }
    }
    @media screen and (min-width:1365px) {
      @include kacheln;
    }
  }

  .frontpage-course-list-enrolled {
    .coursebox {
      margin: 0.75rem 0.5rem;

      .courseimage {
        order: 1;
        height: 0;
        width: 100%;
        padding: 0 0 66%;
        margin: 0;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        img {
          position: absolute;
          height: 100%;
          width: 100%;
          max-width: none;
          max-height: none;
          left: 0;
          top: 0;
        }
      }

      .summary {
        order: 2;
        width: 100% !important;
        float: none !important;
        margin: 0;
      }

      .teachers {
        order: 3;
      }
    }
  }

  .frontpage-course-list-all {
    .coursebox {
      margin: 0 0 0.75rem;
      display: flex;
      display: -ms-flexbox;
      align-items: baseline;
      justify-content: flex-start;

      .info {
        order: 2;
      }

      .content {
        order: 1;
      }

      .summary,
      .teachers {
        display: none;
      }
    }
  }
}
@media screen and (min-width:992px) and (max-width:1365px) {
  body.drawer-open-left .frontpage-course-list-enrolled .coursebox.hasThumbnail {
    flex-direction: row;

    .courseimage {
      display: none !important;
    }

    .info {
      order: 1 !important;
    }

    .content {
      order: 2 !important;
    }
  }
}
/*** Dashboard*** - .pagelayout-mydashboard .card,***/
/** Courses **/
#intro {
  @include intro-style;
}

.summary {
  .topics li.section {
    margin-left: 0;
  }

  .topics li:first-child & {
    margin: 0 0 2rem 0 !important;
    @include intro-style;
  }

  #region-main & + ul.section {
    margin: 0;
    padding: 1em 0;
  }
}

.section {
  &.activity {
    padding: 0.5em 0;
  }

  &:nth-child(even) {
    background: rgba(255,255,255,.5);
  }

  &.label {
    background-color: transparent;

    p {
      font-weight: 600;

      &:first-child {
        margin-top: 2em;
      }
    }
  }

  .editing &:hover {
    background-color: transparent;
    cursor: pointer;
  }

  li.activity {
    padding: 0.2em 0 0.2rem 1rem !important;
  }

  &.current {
    border: 0;
    /*    background: lighten($brand-info,15%);*/
    background: rgba(255,255,255,.75);
    padding: 1em;
    margin: 0 -1rem;

    &:before {
      display: none;
    }
  }

  .activity.forum.modtype_forum {
    text-align: center;
    background-color: $brand-info;
    margin: 2rem 0;

    &:hover {
      opacity: 0.75;
    }
  }
  .activity.forum.modtype_forum {
    text-align: center;
    background-color: $brand-info;
    margin:2rem 0;
    &:hover{opacity: .75;}
    .activityinstance > a{
      color:white;
      line-height:1;
      padding:.5rem;
      &:hover{text-decoration:none;}
      img.activityicon{display:none;}
      &:before{
        @include icon-style(currentColor);
        content:'\f086';
        margin-right: 2rem;
      }
    }
  }
}

.admintable {
  .cell.c5 {
    display: -ms-flexbox;
    display: flex;
  }
}
/*** Grade Tables ***/
.path-grade-report-grader #region-main {
  &,
  & > .card-block {
    width: inherit !important;
  }

  .gradeparent {
    width: inherit;
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
.mod-indent-outer {
  padding: 0 !important;
  margin-bottom: 0.25em;
  display: block;
}

.tag {
  font-weight: 400;
  font-size: 85%;
  padding: 0.5em 0.8em;
  color: $brand-primary;

  .availabilityinfo.ishidden & {
    display: none;
  }

  &.tag-info {
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }

  .activity & {
    float: right;
  }
}
/*** Profile ***/
.path-grade-report #maincontent+.urlselect {
  left: auto;
  right: 0;
}
/*** Quizzes ***/
.quizinfo {
  position: relative;
  text-align: left;

  &:before {
    content: '';
    border-width: 30px 0 0 25px;
    border-style: solid;
    border-color: $page-content transparent transparent $brand-info;
    position: absolute;
    top: -30px;
    left: 2rem;
  }
  background: $brand-info;
  padding: 1rem;
  width: 50%;

  &,
  & * {
    color: white !important;
  }

  * {
    margin: 0;
  }

  & + .quizattemptcounts {
    background: darken($brand-info,25%);
    width: 50%;
    text-align: left;
    padding: 0.15rem 1rem;

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }

      &:after {
        @include icon-style(white);
        content: '\f05a';
        margin-left: 1rem;
        float: right;
      }
    }
  }
}

#page-mod-quiz-view .generalbox#feedback {
  margin:0;
  width:100%;
  h3 {
    color: $brand-success;
    text-align: center;
    font-size: 1.25rem;
    display: inline-block;
    margin: 0;
  }
}

#page-mod-quiz-view #page .quizattempt {
  text-align: right;
}
