/*** Course Progress ***/
.progress_bar {
  .progress_bar {
    position: relative;
    padding-bottom: 3rem;

    &:before,
    .progress_bar_completed {
      height: 1.5rem;
      padding: 2px 0 2px 5px;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      background-color: $gray-lightest;
      position: absolute;
      bottom: 0;
      -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.25);
      box-shadow: inset 0 0 2px 0 rgba(0,0,0,.25);
    }

    .progress_bar_completed {
      /*background:$brand-primary;*/
      background: repeating-linear-gradient(-45deg, $brand-primary, $brand-primary 10px, lighten($brand-primary,10%) 10px, lighten($brand-primary,10%) 20px);
      color: white;
      line-height: 1.2;
      position: absolute;
      bottom: 0;
    }
  }
}
/** Content Login **/
#page-login-index {
  #region-main .card-title > h2 {
    background: url("http://logo.spraachen.work/logo-subline-front.svg") no-repeat center center / contain;
    /** Todo Pfad ändern **/
    > img {
      opacity: 0;
    }
  }
}
/*** Courses ***/
.course-content .section-summary .section-summary-activities .activity-count {
  color: #373a3c !important;
}

.section li.activity {
  padding: 1em 0 1rem 1rem!important !important;
  border-bottom: 1px dashed darken($gray-light, 15%) !important;

  a:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  img.activityicon {
    margin-right: 1rem;
  }
}

.mod-indent-1 {
  margin-right: 0.5rem;

  + div .contentwithoutlink {
    font-size: 1.25rem;

    &,
    & b {
      font-weight: 600;
    }
  }
}
/**** Content - Tests ****/
.logininfo {
  color: white;
  padding: 0.75rem 0;
}
/*** Messages ***/
.activity.forum.modtype_forum {
  text-align: center;
  background-color: $brand-info;
  margin: 2rem 0;

  &:hover {
    opacity: 0.75;
  }

  .activityinstance > a {
    color: white;
    line-height: 1;
    padding: 0.5rem;

    &:hover {
      text-decoration: none;
    }

    img.activityicon {
      display: none;
    }

    &:before {
      @include icon-style(currentColor);
      content: '\f086';
      margin-right: 2rem;
    }
  }
}
/*** Quizzes ***/
#page-mod-quiz-view .generalbox#feedback {
  margin: 0;
  width: 100%;
}

#page-mod-imscp-view .yui-layout-hd h2 {
  font-size: 1rem !important;
}
/**** Quiz Review ***/
table.quizreviewsummary {
  th.cell {
    padding-right: 1em;
    width: 11em;
  }
}

.questionflagsaveform {
  .que .info {
    width: 10em;
  }

  .que .content {
    margin: 0 0 0 11em;
  }
}
/*** Modals, Popups **/
.form-control-static{
  padding-right: 1rem;
}
