@import "_vars-mixins";
.alert-info,
#page-admin-index .releasenoteslink,
#adminsettings .form-overridden,
.que .formulation{
  background-color:lighten($brand-secondary, 25%);
}
.alert-warning,
#page-admin-index .adminwarning,
.uninstalldeleteconfirmexternal,
.que .outcome,
.que .comment{
  background-color: $trans-white;
  border-color: $gray-lighter;
  color:$text-color;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.partiallycorrect .trafficlight{
  background-color: $brand-info;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.notanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.incorrect .trafficlight{
  background-color: $brand-danger;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.correct .trafficlight{
  background-color: $brand-success;
}
